# Dependencies
node_modules/

# Build
dist/
dist-ssr/
*.local

# Logs & debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS
.DS_Store
Thumbs.db
*.sw?
.idea/
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.*.local

# TypeScript
*.tsbuildinfo

# Vite
.vite/
